<html>
  <header>
    <title>To-Do lists</title>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/base.css" rel="stylesheet" media="screen">
  </header>
  <body>
  <div class="container">
    <div class="navbar">
      {% if user.email %}
        <p>Logged in as {{ user.email }}</p>
        <p><a id="logout" href="{% url 'logout' %}">Sign out</a></p>
      {% else %}
        <a id='login' href="#">Sign in</a>
      {% endif %}
      <p>User: {{ user }}</p>
    </div>
    
    <div class="row">
      <div class="col-md-6 col-md-offset-3 jumbotron">
        <div class="text-center">
          <h1>{% block header_text %}{% endblock %}</h1>
          <form method="POST" action="{% block form_action %}{% endblock %}">
            {{ form.text }}
            {% csrf_token %}
            {% if form.errors %}
              <div class="form-group has-error">
                <span class="help-block">{{ form.text.errors }}</span>
              </div>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col col-md-offset-3">
      {% block table %}
      {% endblock %}
    </div>
  </div>
  <script src='http://code.jquery.com/jquery.min.js'></script>
  <script src='/static/list.js'></script>
  <script src='https://login.persona.org/include.js'></script>
  <script>
    $(document).ready(function(){
      var loginLink = document.getElementById('login');
      if (loginLink) {
        loginLink.onClick = function() {navigator.id.request();}
      }

      var logoutLink = document.getElementById('logout');
      if (logoutLink) {
        logoutLink.onClick = function() {navigator.id.logout();}
      }

      var currentUser = '{{ user.email }}' || null;
      var csrf_token = '{{ csrf_token }}'
      console.log(currentUser);

      navigator.id.watch({
        loggedInuser: currentUser,
        onlogin: function(assertion){
          $.post('/accounts/login', {assertion: assertion, csrfmiddlewaretoken: csrf_token})
          .done(function(){window.location.reload();})
          .fail(function(){navigator.id.logout();});
        },
        onlogout: function(){
          $.post('/accounts/logout')
          .always(function(){window.location.reload();});
        }
      });
    });

  </script>
  </body>
</html>